﻿        #processMessage 
        {
            text-align:center;
            position:fixed;
            top:30%;
            left:43%;
            padding:30px;
            width:14%;
            z-index:1001;
           /* background-color:#79BDE8;*/
            /*border:solid 1px #c0c0c0;*/
        }
        #progressBackgroundFilter {
            position:fixed;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            overflow:hidden;
            padding:0;
            margin:0;
            background-color:#79BDE8;
            filter:alpha(opacity=50);
            opacity:0.7;
            z-index:1000;
        }
        * html #progressBackgroundFilter { display: none;} /* for IE6 */
        *+html #progressBackgroundFilter { display: none;} /* for IE7 */
        #progressBackgroundFilter { display: none\0/;} /* for IE8 */
