.RadGrid_ModernBrowsers
{
	border-radius: 10px;
	overflow: hidden;
}


div.RadGrid_MetroTouch td.rgPagerCell
{
	border-left: 0;
}

.RadGrid_Rounded
{
	position: relative;
    top: 0px;
    left: 0px;
    height : auto !important ;
}

.ltRounded,
.rtRounded,
.lbRounded,
.rbRounded
{
	background: url(images/rounded_corners.png);
	position: absolute;
	width: 10px;
	height: 10px;
	top: -1px;
	left: -1px;
}

.rtRounded
{
	right: -1px;
	left: auto;
	background-position: -10px 0;
}

.lbRounded
{
	top: auto;
	bottom: -1px;
	background-position: 0 -10px;
}

.rbRounded
{
	top: auto;
	left: auto;
	right: -1px;
	bottom: -1px;
	background-position: -10px -10px;
}

.ViewDepartments_Panel
{
    position: relative; 
    text-align: left; 
    width: 520px; 
    height: 550px; 
    padding: 7px;
}

    .df_dept_container {
        left:0;
        top:10px;
        width:520px;
        height:417px;
    }

    .df_serial_label
    {
        position:absolute;
        left:40px;
        top:28px;
    }
    .df_serial_input
    {
        position:absolute;
        left:170px;
        top:28px;
    }
    .df_facility_label
    {
        position:absolute;
        left:40px;
        top:70px;
    }
    .df_facility_combo
    {
        position:absolute;
        left:170px;
        top:70px;
    width: 296px;
}
    .df_description_label
    {
        position:absolute;
        left:40px;
        top:112px;
    }
    .df_description_input
    {
        position:absolute;
        left:170px;
        top:112px;
    }
         .df_wing_label
    {
        position:absolute;
        left:40px;
        top:192px;
    }
       .df_wing_input
    {
        position:absolute;
        left:170px;
        top:192px;
    }
     .df_floor_label
    {
        position:absolute;
        left:40px;
        top:222px;
    }
       .df_floor_input
    {
        position:absolute;
        left:170px;
        top:222px;
    }
            .df_AIO_label
    {
        position:absolute;
        left:40px;
        top:250px;
    }
       .df_AIO_input
    {
        position:absolute;
        left:170px;
        top:250px;
    }
   .df_Monitor_label
    {
        position:absolute;
        left:40px;
        top:280px;
    }
       .df_Monitor_input
    {
        position:absolute;
        left:170px;
        top:280px;
    }
          .df_Workstation_label
    {
        position:absolute;
        left:40px;
        top:310px;
    }
       .df_Workstation_input
    {
        position:absolute;
        left:170px;
        top:310px;
    }
               .df_Notes_label
    {
        position:absolute;
        left:40px;
        top:342px;
    }
       .df_Notes_input
    {
        position:absolute;
        left:170px;
        top:342px;
    }
    .df_Other_label
    {
        position:absolute;
        left:40px;
        top:372px;
    }
       .df_Other_input
    {
        position:absolute;
        left:170px;
        top:372px;
    }
    .df_dept_label{

        position:absolute;
        left:40px;
        top:154px;
    }
   
    .df_dept_name{
        position:absolute;
        left:170px;
        top:154px;
    }

    .df_dept_btn_save{
        position:absolute;
        left: 331px;
        top: 409px;
    }

    .df_dept_btn_cancel{
        position:absolute;
        left: 411px;
        top: 409px;
    }
