﻿body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #3b3b3b;
}

.main {
    margin: auto;
    width: 964px;
}

.top_id {
    float: left;
    width: 100%;
    padding: 20px 0;
}

.lt_top {
    width: 50%;
    float: left;
}

.lt_top img {
    float: left;
    margin-right: 10px;
}

.lt_top span {
    line-height: 2.8em;
    font-size: 16px;
    float: left;
    font-weight: bold;
}

.rt_top {
    width: 50%;
    float: left;
    padding-top: 8px;
}

.rt_top span {
    float: left;
    width: 100%;
    background: url(/Images/add_user.jpg) no-repeat left center;
}

.rt_top span a {
    text-decoration: none;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #3b3b3b;
}

.main_fom {
    float: left;
    width: 100%;
}

.main_fom_box2 {
    margin: 70px 100px;
    float: left;
    background-color: white;
}

.main_fom_box {
    width: 31.7%;
    margin-right: 2%;
    float: left;
}

.main_fom_box:last-child {
    margin-right: 0;
}

.main_fom_box .fom_st {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    padding: 4px;
    background: #f2f2f2;
}

.main_fom_box .fom_st label {
    float: left;
    line-height: 2.5em;
    padding-left: 4px;
    width: 29%;
    font-size: 13px;
}

.main_fom_box .fom_st input {
    background: #fbfbfb;
    float: right;
    color: #3b3b3b;
    border: 0;
    padding: 8px;
    width: 63%;
}

.main_fom_box .fom_st_2 {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    padding: 4px;
    background: #f2f2f2;
}

.main_fom_box .fom_st_2 label {
    float: left;
    line-height: 2.5em;
    padding-left: 4px;
    width: 29%;
    font-size: 13px;
}

.main_fom_box .fom_st input.lt {
    width: 50%;
    float: left;
    position:relative;
    top:8px
}

.main_fom_box .fom_st a.rt {
    background: url(/Images/adit_pass.jpg) no-repeat center center #fbfbfb;
    width: 7.5%;
    float: right;
    padding: 8px;
    height: 16px;
}

.user_box {
    background: #f2f2f2;
    float: left;
    padding: 8px;
    width: 98.5%;
    margin: 15px 0;
}

.user_left_box {
    float: left;
    width: 30%;
}

.user_head {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    background: url(/Images/user_icon.jpg) no-repeat left center;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 5px 5px 30px;
}

.user_lt_bot {
    float: left;
    padding-left: 20px;
}

.user_opction {
    float: left;
    width: 100%;
    padding-bottom: 5px;
    font-size: 14px;
}

.user_home_box {
    float: right;
    width: 70%;
    padding-top: 35px;
}

.user_home_head {
    background: url(/Images/set_home_page_icon.jpg) no-repeat left center;
    font-size: 16px;
    padding: 6px 5px 5px 30px;
}

.user_home_opction {
    border: 1px solid #bfbfbf;
    padding: 15px;
    width: 90%;
    float: left;
    margin-top: 8px;
}

.user_home_opction span {
    float: left;
    padding-right: 30px;
    background: url(/Images/home_opction_icon.jpg) no-repeat right center;
    font-size: 14px;
}

.user_home_opction span a {
    text-decoration: none;
    color: #3b3b3b;
}

.user_box_bot {
    float: right;
    width: 10%;
    text-align: right;
    margin-bottom: 8px;
}

.user_box_bot input.submit {
    background: #3ea8f2;
    padding: 2px 20px;
    margin: 0 8px;
    border: 0;
    font-size: 16px;
    color: #fff;
    height: 33px;
}

.user_box_bot input.close {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    position: relative;
    background: #808080;
    padding: 6px 22px;
    margin: 0 14px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    top: 0px;
    left: 0px;
    height: 33px;
}

.adduser_save_btn {
    float: left;
    margin-top:15px;
    margin-right:30px;
    margin-left:15px;
}
.Deleteuser_save_btn {
    float: left;
    margin-top:15px;
    margin-right:30px;
    margin-left:15px;
}

.adduser_text_edit {
    position:relative;
    top:8px;
}