﻿body {
  overflow: hidden;
}
/*
 * Main content
 */
.main {
  padding: 0;
  position: absolute;
  top: 50px;
  bottom: 0;
  background-color: #dddddd;
}
/*Zoom scroll control
------------------------------------------*/
.zoom {
  margin: 15px 0 0 35px;
  width: 0;
  position: relative;
  top: 43px;
  z-index: 999;
}
.zoom .ui-slider-vertical {
  width: .4em;
  background: #c9c9c9;
  z-index: 999;
}
.zoom .ui-slider .ui-slider-handle {
  margin-left: -15px;
  border: none;
  background: none;
}
.zoom a:focus {
  outline: none;
}
.zoom .icon {
  font-size: 1.6em;
  color: #aaaaaa;
}
.zoom .icon.icon-zoom {
  margin-left: -13px;
}
.zoom .icon.icon-handle {
  margin-left: -8px;
  cursor: pointer;
}
.zoom .icon-wrapper {
  margin-top: -8px;
}
/* Pan and Zoom
-------------------------------------------*/
#panzoomContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
#panzoomContainer .panzoom-inner {
  cursor: default;
}
#panzoomContainer .location-pin {
  position: absolute;
}
/*Floor pancake
------------------------------------------*/
#floorsContainer {
  padding: 0 20px;
  -moz-perspective: 200px;
  -ms-perspective: 200px;
  -webkit-perspective: 200px;
  perspective: 200px;
}
#floorsContainer .floor {
  width: 100%;
  height: 45px;
  background-color: #aaaaaa;
  margin: 3px 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  padding-top: 10px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  /**************************************************************************
     Selected floor alternate option: Background image, doesn't tween tidily so 
      would need to stop animation */
  /*&.selected {
      padding-top:0;
      height:35px;
      background:url('../images/selected-floor.jpg');
      cursor:default;
      border:none;
      span{
        color:@brand-primary;
      }
    }**************************************************************************/
  /***************************************************************************
      Selected Floor option 2, css triangle, again tween not working correctly, 
      potentially possible to do with more effort */
  /*&.selected {
      position:relative;
      padding-top:0;
      height:35px;
      background-color:white;
      
      border: 2px solid @brand-primary;
      cursor:default;
      border-right:none;
      span{
        color:@brand-primary;
      }
    }
    &.selected:before {
      content:"";
      position:absolute;
      right:-35px;
      top:-2px;
	    width: 0;
	    height: 0;
	    border-top: 19px solid transparent;
	    border-left: 37px solid @brand-primary;
	    border-bottom: 19px solid transparent;
    }
    &.selected:after {
      content:"";
      position:absolute;
      right:-32px;
      top:0;
	    width: 0;
	    height: 0;
	    border-top: 17px solid transparent;
	    border-left: 34px solid white;
	    border-bottom: 17px solid transparent;
    }***************************************************************************/
  /**************** Simple rectangular selected floor ************************/
}
#floorsContainer .floor span {
  color: #ffffff;
}
#floorsContainer .floor.above-4 {
  -moz-transform: rotateX(-28deg);
  -ms-transform: rotateX(-28deg);
  -o-transform: rotateX(-28deg);
  -webkit-transform: rotateX(-28deg);
  transform: rotateX(-28deg);
}
#floorsContainer .floor.above-3 {
  -moz-transform: rotateX(-38deg);
  -ms-transform: rotateX(-38deg);
  -o-transform: rotateX(-38deg);
  -webkit-transform: rotateX(-38deg);
  transform: rotateX(-38deg);
}
#floorsContainer .floor.above-2 {
  -moz-transform: rotateX(-50deg);
  -ms-transform: rotateX(-50deg);
  -o-transform: rotateX(-50deg);
  -webkit-transform: rotateX(-50deg);
  transform: rotateX(-50deg);
}
#floorsContainer .floor.above-1 {
  -moz-transform: rotateX(-65deg);
  -ms-transform: rotateX(-65deg);
  -o-transform: rotateX(-65deg);
  -webkit-transform: rotateX(-65deg);
  transform: rotateX(-65deg);
}
#floorsContainer .floor.selected {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 3px;
  height: 35px;
  background-color: white;
  border: 1px solid #aaaaaa;
  cursor: default;
}
#floorsContainer .floor.selected span {
  color: #aaaaaa;
}
#floorsContainer .floor.below-1 {
  -moz-transform: rotateX(65deg);
  -ms-transform: rotateX(65deg);
  -o-transform: rotateX(65deg);
  -webkit-transform: rotateX(65deg);
  transform: rotateX(65deg);
}
#floorsContainer .floor.below-2 {
  -moz-transform: rotateX(50deg);
  -ms-transform: rotateX(50deg);
  -o-transform: rotateX(50deg);
  -webkit-transform: rotateX(50deg);
  transform: rotateX(50deg);
}
#floorsContainer .floor.below-3 {
  -moz-transform: rotateX(38deg);
  -ms-transform: rotateX(38deg);
  -o-transform: rotateX(38deg);
  -webkit-transform: rotateX(38deg);
  transform: rotateX(38deg);
}
#floorsContainer .floor.below-4 {
  -moz-transform: rotateX(10deg);
  -ms-transform: rotateX(10deg);
  -o-transform: rotateX(10deg);
  -webkit-transform: rotateX(10deg);
  transform: rotateX(10deg);
}

#panzoomContainer .location-pin {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 0;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
    -moz-transition:  -moz-box-shadow .3s;
    -webkit-transition:  -webkit-box-shadow .3s;
    transition:  box-shadow .3s;
}

#panzoomContainer a:hover {
    -moz-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    -moz-transition:  -moz-box-shadow .3s;
    -webkit-transition:  -webkit-box-shadow .3s;
    transition:  box-shadow .3s;
}

/*# sourceMappingURL=floorplanner.css.map */