﻿@brand-primary: #89dddd;

body{
  overflow:hidden;
}


/*Top Bar (login, search etc.)
------------------------------------*/
.topbar {
	z-index: 12;
	padding: 8px 0;
	position: relative;
}

.topbar ul.notificationbar {
	margin: 0;
}

.topbar ul.notificationbar > li {
	display: inline;
	list-style: none;
	position: relative;
	padding-bottom: 15px;
}

.topbar ul.notificationbar > li > a, 
.topbar ul.notificationbar > li > a:hover {
	color: #7c8082;
	font-size: 11px;
}

.topbar ul.notificationbar li i.fa { 
	color: #bbb;
}


/* Stop navbar from collapsing (override bootstrap defaults)
-------------------------------------*/
.navbar-collapse.collapse {
display: block!important;
}
.navbar-nav>li, .navbar-nav {
float: left !important;
}
.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}
.navbar-right {
float: right!important;
    overflow: hidden;

}


/*Header Default
------------------------------------*/
.header {
  z-index: 99;
  position: relative;
  border-bottom: solid 2px #eee;
  background-color: @brand-primary;

  .container-fluid {
    padding: 0 40px;
  }

  .navbar {
    margin: 0;
    min-height: inherit;
  }

  .navbar-default {
    border: none;
    background: none;

    .navbar-nav > li > a {
      //color: darken(#FFFFFF, 10%);
      color:white;
      font-size: 26px;
      padding: 15px 8px;
      &:hover{
        color:darken(@brand-primary, 25%);
      }
    }

    .navbar-nav > .active > a {
      //color: #ffffff;
      background: none;
      overflow: hidden;
    }
  }

  .navbar-collapse {
    position: relative;
    padding-right: 0;
  }

  .navbar-brand {
    z-index: 1;
    top: -20px;
    position: relative;
    padding: 0 10px 10px;
  }
}

.no-underline:hover{
  text-decoration:none;
}


/* Badge Notifications
*------------------------------------*/
.badge-notification{
  position: relative;
  left: -13px;
  top: -15px;
  background-color:red;
  padding:3px 5px;
  margin-right:-25px;
}


/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 93px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}


/*
 * Main content
 */

.main {
  padding: 0;
  position: absolute;
  top: 93px;
  bottom: 0;

  //for debugging
  background-color:#dddddd;
}


/*Zoom scroll control
------------------------------------------*/
.zoom{
  margin: 15px 0 0 35px;
  width:0;
  position:relative;
  z-index:999;

  .ui-slider-vertical {
    width: .4em;
    background:#c9c9c9;
    z-index:999;
  }

  .ui-slider .ui-slider-handle {
    margin-left:-15px;
    border:none;
    background:none;
  }
  a:focus{
    outline:none;
  }
  .icon{
    font-size:1.6em;
    color:#aaaaaa;
    &.icon-zoom{
      margin-left:-13px;
      //cursor:pointer;
    }
    &.icon-handle{
      margin-left:-8px;
      cursor:pointer;
    }
  }
  .icon-wrapper{
    margin-top:-8px;
  }
}


/* Pan and Zoom
-------------------------------------------*/
#panzoomContainer{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:100%;
  .panzoom-inner{
    cursor:default;
  }
  .location-pin{
    position:absolute;
  }
}
 


 /*Floor pancake
------------------------------------------*/
@floor-color: #aaaaaa;
#floorsContainer {
  padding: 0 20px;
  -moz-perspective: 200px;
  -ms-perspective: 200px;
  -webkit-perspective: 200px;
  perspective: 200px;

  .floor {
    width: 100%;
    height: 45px;
    background-color: @floor-color;
    margin: 3px 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    padding-top: 10px;

    span {
      color: #ffffff;
    }

    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;

    &.above-4 {
      -moz-transform: rotateX(-28deg);
      -ms-transform: rotateX(-28deg);
      -o-transform: rotateX(-28deg);
      -webkit-transform: rotateX(-28deg);
      transform: rotateX(-28deg);
    }

    &.above-3 {
      -moz-transform: rotateX(-38deg);
      -ms-transform: rotateX(-38deg);
      -o-transform: rotateX(-38deg);
      -webkit-transform: rotateX(-38deg);
      transform: rotateX(-38deg);
    }
    &.above-2 {
      -moz-transform: rotateX(-50deg);
      -ms-transform: rotateX(-50deg);
      -o-transform: rotateX(-50deg);
      -webkit-transform: rotateX(-50deg);
      transform: rotateX(-50deg);
    }
    &.above-1 {
      -moz-transform: rotateX(-65deg);
      -ms-transform: rotateX(-65deg);
      -o-transform: rotateX(-65deg);
      -webkit-transform: rotateX(-65deg);
      transform: rotateX(-65deg);
    }
    /**************************************************************************
     Selected floor alternate option: Background image, doesn't tween tidily so 
      would need to stop animation */
    /*&.selected {
      padding-top:0;
      height:35px;
      background:url('../images/selected-floor.jpg');
      cursor:default;
      border:none;
      span{
        color:@brand-primary;
      }
    }**************************************************************************/
    /***************************************************************************
      Selected Floor option 2, css triangle, again tween not working correctly, 
      potentially possible to do with more effort */
    /*&.selected {
      position:relative;
      padding-top:0;
      height:35px;
      background-color:white;
      
      border: 2px solid @brand-primary;
      cursor:default;
      border-right:none;
      span{
        color:@brand-primary;
      }
    }
    &.selected:before {
      content:"";
      position:absolute;
      right:-35px;
      top:-2px;
	    width: 0;
	    height: 0;
	    border-top: 19px solid transparent;
	    border-left: 37px solid @brand-primary;
	    border-bottom: 19px solid transparent;
    }
    &.selected:after {
      content:"";
      position:absolute;
      right:-32px;
      top:0;
	    width: 0;
	    height: 0;
	    border-top: 17px solid transparent;
	    border-left: 34px solid white;
	    border-bottom: 17px solid transparent;
    }***************************************************************************/
    /**************** Simple rectangular selected floor ************************/
    &.selected {
      position: relative;
      top:0;
      left:0;
      padding-top: 3px;
      height: 35px;
      background-color: white;
      border: 1px solid @floor-color;
      cursor: default;
      span {
        color: @floor-color;
        //z-index:2;
      }
    }
    &.below-1 {
      -moz-transform: rotateX(65deg);
      -ms-transform: rotateX(65deg);
      -o-transform: rotateX(65deg);
      -webkit-transform: rotateX(65deg);
      transform: rotateX(65deg);
    }
    &.below-2 {
      -moz-transform: rotateX(50deg);
      -ms-transform: rotateX(50deg);
      -o-transform: rotateX(50deg);
      -webkit-transform: rotateX(50deg);
      transform: rotateX(50deg);
    }
    &.below-3 {
      -moz-transform: rotateX(38deg);
      -ms-transform: rotateX(38deg);
      -o-transform: rotateX(38deg);
      -webkit-transform: rotateX(38deg);
      transform: rotateX(38deg);
    }
    &.below-4 {
      -moz-transform: rotateX(10deg);
      -ms-transform: rotateX(10deg);
      -o-transform: rotateX(10deg);
      -webkit-transform: rotateX(10deg);
      transform: rotateX(10deg);
    }
  }
}