
body {
    margin: 0;
    padding: 0;
	font-family: "Open Sans",sans-serif;
}

html { 
  background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-container{
	width:400px;
	margin:0 auto;
}
.form-main{
	padding-top:120px;
}
.form-bg{
	background:#DEE3E6;
}
form {
    padding: 50px;
}
.form-line {
    background: none repeat scroll 0 0 #ffffff;
    
	margin-bottom: 21px;
}

.fa-user, .fa-lock, .fa-envelope-o{
    
    border-right: 1px solid #E3E3E3;
    color: #A0A0A0;
    font-size: 18px;
    margin: 0;
    padding: 9px 16px 11px 19px;
    position: relative;
}
.user_name, .user_password, .user_email{
    border: medium none;
    color: #000000;
    font-size: 13px;
    margin: 0 0 0 6px;
    padding: 7px;
    width: 74%;
	height:21px;
}
.member-login {
    background-color: #3EA8F2;
    
    font-weight: normal;
    margin-bottom: 4px;
    width: 100%;
}
.member-creat-ac {
    background-color: #91D0D7;
    
    font-weight: normal;
    margin-bottom: 4px;
    width: 100%;
}
.btn {
    
    border: medium none;
    
    color: #fff;
    font-weight: normal;
    margin: 0 0 22px 0; 
    outline-width: 0;
    padding: 10px 15px 11px;
    text-align: center;
    cursor:pointer;
    text-transform: uppercase;
}

.si-round-text {
    float: left;
    margin-left: 33px;
    margin-top: -17px;
    width: 147px;
	 color: #888b8c;
	 font-size:12px;
}
.si-question {
    float: right;
	height:24px;
	padding-left: 32px;
	text-decoration:none;
	color:#888b8c;
	font-size:12px;
    display:inline;
    position:relative;
    left:-6px;
    cursor:pointer;

}

.top-main-text{
	color:#fff;
	font-size:36px;
}
.arrow-up {
	 border-bottom: 15px solid #DEE3E6;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
    margin: 0 0 0 53px;
    width: 0;
}
.arrow-down {
	  border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 8px solid #91d0d7;
    height: 0;
    margin: -22px 0 0 132px;
    width: 0;
}

/* ROUNDED TWO */
input[type=checkbox] {
	visibility: hidden;
}
.roundedTwo {
	width: 22px;
	height: 22px;
	float:left;
	margin: 0px 0 20px 20px ;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	border:1px solid #81B554;
}
.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 1px;
	top: 1px;
}
.roundedTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 5px;
	border: 1px solid #81B554;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.roundedTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.member-login2 {
    background-color: #3EA8F2;
    
    font-weight: normal;
    width: 38%;
    position:relative;
    top: 49px;
    left: 106px;
}
