.containM {
  width: 500px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}
.notificationiconM {
  height: 44px;
  position: absolute;
  top: 20px;
  left: 170px;
}
.notificationiconM:hover {
  background: rgba(0, 0, 0, 0.5);
}
.notificationiconM:hover i {
  color: #fff;
}
.notificationiconM.on i {
  color: #ddd;
}
.notificationsM {
  max-width: 300px;
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0px;
  box-shadow: 0px 0px 20px #666;
  position: absolute;
  opacity: 1;
  top: 35px;
  transition: .2s;
  left: -50px; /*Make sure to change the :before selector version corespondingly*/
}

.xnotificationsM {
  max-width: 300px;
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0px;
  box-shadow: 0px 0px 20px #666;
  position: absolute;
  opacity: 1;
  top: 35px;
  transition: .2s;
  left: 40px;
}

.notificationsM:before {
  content: '';
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: -20px;
  left: 230px;
  border: 10px solid #fff;
  border-color: transparent transparent #fff transparent;
}
.notificationsM.open {
  opacity: 1;
  transition: .2s;
}
.notificationsM li {
  padding: 5px;
  list-style-type: none;
}
.notificationsM li.titlebar {
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 12px;
  cursor: inherit;
  padding: 2px 5px;
}
.notificationsM li.titlebar:hover {
  background: #fff;
}
.notificationsM li.titlebar .settings {
  float: right;
  cursor: pointer;
}
.notificationsM li.seeall {
  text-align: center;
  font-size: 12px;
  min-height: 30px;
  text-transform: uppercase;
  position: relative;
  border-top: 1px solid #ccc;
}
.notificationsM li.seeall a {
  background: #f5f5f5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #007fff;
  padding-top: 8px;
}
.notificationsM .notifbox {
  max-height: 300px;
  overflow: auto;
}
.notificationsM .notifbox li {
  color: #666;
}

.notificationsM .notifbox li:hover {
  background-color: #eee;
  cursor:pointer
}

.notificationsM .notifbox li a {
  color: #666;
}
.notificationsM .notifbox li.unread {
  background: #e5f2ff;
}
.notificationsM .notifbox li.notif {
  min-height: 70px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.notificationsM .notifbox li.notif:last-child {
  border-bottom: none;
}
.notificationsM .notifbox li.notif .imageblock {
  width: 16px;
  position: absolute;
  left: 5px;
  top:22px;
}
.notificationsM .notifbox li.notif .imageblock .notifimage {
  height: 16px;
}
.notificationsM .notifbox li.notif .messageblock {
  width: 200px;
  position: relative;
  left: 60px;
  top:10px;
  font-size: 12px;
}
.notificationsM .notifbox li.notif .messageblock .message a {
  color: #007fff;
}
.notificationsM .notifbox li.notif .messageblock .messageaction {
  min-height: 30px;
  margin-bottom: 5px;
}
.notificationsM .notifbox li.notif .messageblock .messageaction .button {
  font-weight: normal;
  text-transform: uppercase;
}
.notificationsM .notifbox li.notif .messageblock .messageaction .button.success,
.notificationsM .notifbox li.notif .messageblock .messageaction .button.alert {
  color: #fff;
}
.notificationsM .notifbox li.notif .messageblock .messageinfo {
  font-size: 10px;
  color: #999;
}
