@import url(http://fonts.googleapis.com/css?family=Satisfy);

* { margin:0; padding:0;}

header, section, nav, footer{display: block;}

body {
font:normal 14px arial, helvetica, verdana, sans-serif;
margin: 0;
padding: 0;
background-color:#fafafa;
    
}

html {
    overflow-y:scroll;
}

a{
color: #336699;
background:inherit;
text-decoration: underline;
}



img {
max-width: 100%;
height: auto;
border:none;
}

h1, h2, h3 {
font-weight: 400;
font-family: Arial, sans-serif;
}

h1{
float:left;
margin:15px 0 15px 0;
font-size:350%
}

h2 {
font-size:250%;
color:#eb6561;
margin:10px 0 10px 0;
padding:0;
}

h3 {
font-size:230%;
color:#eb6561;
margin:10px 0 10px 0;
padding:0;
}

#wrapper{
display:table;
width:100%;
height:auto;
padding:0;
margin:0 auto;
background:#fafafa;
color:#333;
font-weight: normal;
}

.facilityheader
{
display:table;
width:100%;
height:auto;
padding:0;
margin:0 auto;
background-color:#ffffff;
}

.container-graph{
display:table;
width:100%;
height:auto;
padding:0;
margin:0 auto;
background-color:#f3f3f3;

}

#header{
width:100%;
height:70px;
background-color:#89DDDD;
color:#454545;
}

h1 a{
background:inherit;
color:#ffffff;
text-decoration: none;
}


.inner{
display:table;
width:95%;
height:auto;
padding:0;
margin:0 auto;
}

#nav {
text-align:right;
float:right;
width:45%;
background:inherit;
color:#454545;
margin:30px 0 0 0;
padding:0
}

#nav ul {
padding:0;
margin:0;
width:100%;
}

#nav li {
margin:0;
padding:0;
list-style: none;
display:inline;
}

#nav a {
display:inline-block;
text-decoration:none;
padding:8px 15px;
margin:0;
color:#f8f8f8;
background:inherit;
font:normal 105% "Trebuchet MS", "Helvetica Neue", helvetica, arial sans-serif;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

#nav a:hover {
background:#262626;
color:#99ccff;
}

#nav .current a {
background:inherit;
color:#eb6561;
}

.caption{
display:table;
width:100%;
margin:10px auto 10px auto;
text-align:center;
}

#section{
float:left;
display:table;
width:65%;
margin:10px auto 20px 2px;
padding:0;
}

.info{
float:left;
width:100%;
display:table;
margin:10px auto 40px auto;
}

.info1, .info2 {
float:left;
width:48%;
display: inline;
padding-bottom:20px;
text-align:center;
border: 4px solid #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.info1{
margin:0 1.3% 0 0;
}

.info2 {
margin:0 0 0 1.4%;
}

.info3, .info4,  .info5 {
float:left;
width:31%;
margin:15px 0 10px 1.3%;
display: inline;
text-align:center;
border: 4px solid #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.info1 p, .info2 p, .info3 p,.info4 p,.info5 p{
line-height:1.5em;
margin:10px 10px 10px 10px;
}

.infotitle{
text-align:center;
margin:0;
padding:10px 0 0 0;
background:#f8f8f8;
color:#454545;
border-bottom:1px solid #eee;
font-size:230%;
font-family: 'Satisfy', cursive;
font-weight:400;
}

.photo{
width:98%;
margin:0 auto;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
box-shadow: 0 1px 4px rgba(0,0,0,.2);
padding:3px;
}

.button{
width:94%;
display:table;
margin:0 auto 5px auto;
}

.button a{
float:right;
text-align:center;
margin:0px 0 0 0;
padding:8px 15px;
text-decoration:none;
background:#222;
color:#fafafa;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
line-height:100%;
font:normal 105% "Trebuchet MS", "Helvetica Neue", helvetica, arial sans-serif;
}

.button a:hover, .pagebutton a:hover,.pagebutton a.page{
color:#000;
background:#eb6561;
}

.pagebutton{
float:left;
display:table;
width:100%;
margin:15px auto 0 auto;
}

.pagebutton a {
margin: 0 2px 0 0;
padding: 5px 10px;
text-decoration: none;
background:#222;
color:#fafafa;
font:normal 105% "Trebuchet MS", "Helvetica Neue", helvetica, arial sans-serif;
}

#sidebar{
float:left;
display:table;
width:30%;
margin:30px 0 30px 60px;
padding:0 0 0px 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

#sidebar .titlebox{
margin:0;
padding:5px 0 5px 0;
background:#fafafa;
color:#454545;
border-bottom:1px solid #eee;
}

#sidebar .title{
font-family: 'Satisfy', cursive; font-weight:400;
font-size:200%;
margin:0 0 0 20px;
padding:0;
background:#fafafa;
color:#454545;
}

#search-form {
padding:0;
margin:0;
}



div.row label {
float:left;
display:block;
padding:0 16px;
}

div.row fieldset {
border:1px solid gray;
margin:0 6px 0 10px;
}

div.row fieldset span {
display:block;
}

div.row fieldset span label {
float:none;
display:inline;
}

div.row fieldset legend {
font-weight:bold;
}

div.requiredRow {
border:2px solid #049;
}

div.row .button {
width:6em;
float:right;
margin: 0 2px 0 0;
padding: 5px 10px;
text-decoration: none;
background:#222;
color:#fafafa;
border:none;
font:normal 105% "Trebuchet MS", "Helvetica Neue", helvetica, arial sans-serif;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
cursor:pointer;
}

div.row .button:hover {
color:#000;
background:#eb6561;
}

#footer{
float:left;
width:100%;
display:table;
margin:0;
padding:0;
background:url('/Images/bg.jpg') repeat #82ACD4;
color:#838686;
}

#footer .right, #footer-last .right{
text-align:right;
float:right;
width:45%;
background:inherit;
color: #ffffff;
margin:15px auto 0 auto;
padding:0 0 0px 0;
}

#footer .right img{
margin:0 0 0 5px;
padding:0;
}

#footer .left, #footer-last .left{
text-align:left;
float:left;
width:45%;
background:inherit;
color: #ffffff;
margin:15px auto 0 auto;
padding:0 0 0px 0;
}

#footer p, #footer-last p{
line-height:1.5em;
margin:5px 20px 5px 20px;
padding:0;
font-size:170%; font-family: 'Satisfy', cursive; font-weight:400;
}

#footer-last{
float:left;
width:100%;
display:table;
margin:0;
padding:0;
background:url('/Images/bg.jpg') repeat #82ACD4;
color:#ffffff ;
}

#footer-last p{
line-height:1.5em;
margin:5px 20px 5px 20px;
padding:0;
font-size:120%; font-family: 'Satisfy', cursive; font-weight:400;
}
#footer-last a{
color:#ffffff;
background:inherit;
text-decoration:none;
}

#footer-last a:hover{
background:inherit;
color: #eb6561;
}

@media screen and (min-width:320px) and (max-width:800px){
#header, #section, #footer, .photo,.button, .info {
display: block;
width:100%;
}
.info1, .info2, .info3, .info4, .info5{
display: block;
width:98%;
margin:0 auto 20px auto;
}
.inner{
width:98%;
}
p {
margin:10px 10px 5px 0;
}
#nav {
text-align:left;
float:left;
margin:10px 0 0 0;
}
#nav a {
margin:0 0 4px 0;
padding:10px;
}
#sidebar{
width:100%;
margin-left:0;
}
h1{
float:left;
margin:10px 0 10px 10px;
}
}

@media screen and (min-width: 1024px) {
#nav {
text-align:right;
float:right;
width:65%;
margin-top:30px;
}
.info1, .info2{
float:left;
width:47.5%;
display: inline;
}
.info1{
margin:0 1.6% 0 0;
}
.info2 {
margin:0 0 0 1.6%;
}
.info3, .info4, .info5{
display: block;
width:30%;
}
#section{
float:left;
display:table;
width:66%;
}
#sidebar{
float:left;
display:table;
width:29%;
margin:30px 0 30px 45px;
}
}

@media screen and (max-width: 800px) {
#nav {
float:right;
min-height: 40px;
margin-top:20px;
}
#nav ul {
width: 100%;
padding: 5px 0;
float:right;
border: solid 1px #aaa;
background: #222 url(../images/list.png) no-repeat 5px 13px;
border-color:#222;
box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
#nav li {
display: none; /* hide all <li> items */
margin: 0;
}
#nav .current {
display: block; /* show only current <li> item */
}
#nav a {
color:#fff;
background:inherit;
display: block;
padding: 5px 5px 5px 35px;
text-align:left;
}
#nav .current a {
background: none;
color: #fff;
}

/* on nav hover */
#nav ul:hover {
background-image: none;
}

#nav ul:hover li {
display: block;
margin: 0 0 5px;
}

#nav ul:hover .current {
background: url(../images/tick.png) no-repeat 5px 8px;
}

#footer .right, #footer-last .right, #footer .left, #footer-last .left{
width:100%;
text-align:center;
}
}

.companyLeft
{
    width:10%;
    height:30px;
    line-height: 28px;
    float:left;
    text-align:center;
    margin-top:0px;
    border:1px solid #C1C1C1;
    border-top-color:transparent;
}

.companyRight
{
    width:100%;
    height:30px;
    line-height: 30px;
    text-align:center;
    margin-top:0px;
    border:1px solid #C1C1C1;
    border-top-color:transparent;
    border-right-color:transparent;
}

.facilityLeft
{
    width:10%;
    /*Set to 90 for clear all/select all*/
    height:70px;
    float:left;
    border:1px solid #C1C1C1;
    border-top-color:transparent;
}

.facilityRight
{
    left:130px;
    min-width:550px;
    width:100%;
    /*Set to 90 for clear all/select all*/
    height:70px;
    border:1px solid #C1C1C1;
    border-top-color:transparent;
    border-left-color:transparent;
    border-right-color:transparent;
    padding-left:5px;
}

.facilityGraphSecionHeader
{
    /*
    position:relative;
    left:132px;
    min-width:80px;
    width:90%;
    height:50px;
    border:2px solid #C1C1C1;
    border-top-color:transparent;
    padding-left:50px;
        
    */
    min-width:200px;
    width:90%;
    float:right;
    border:1px solid #C1C1C1;
    border-top-color:transparent;
    border-right-color:transparent;
    padding-left:1%;
    padding-bottom:10px;
    position:relative;
    left:-1px;
}

.firstRowLeft {
    width:330px;
    float:left;
}

.firstRowRight {
    min-width:200px;
    width:50%;
    float:left;
    border:1px solid #eee;
     margin-top:10px;
     padding-left:5px;
     padding-top:5px;
      margin-bottom:5px;
}
.row {
    width:100%;
}
.graphDrilDown{
    float: left; 
    width: 270px; 
    padding-top: 30px; 
}
.testrow{
    width:50%;
    float:left;
}
.facilityRow {
    width:80%;
    float:right;
}
.facilityTitle {
    min-width:100px;
    width:70%;
    float:left;
  
}

.assetTracking
{
    float:right;
    position:relative;
    left:-20px
}

.facilityReport {
    float:right;
    position:relative;
    left:-10px;
}


label
{
    font-weight: normal;
}

.radioButtonList + label{
    font-weight: normal;
    text-align:right;
    margin-top:15px;
    padding-left:100px
}

.firstRowRight input[type="checkbox"] {
    float:left;
    width:auto;
    
}
.firstRowRight input[type="radio"] {
    float:left;
    width:auto;
    font-weight: normal;
}

.radioButtonListSelectAll {
    text-align:right;
    float:right;
    margin-right:10px;
}
.charts{
width:1098px;

min-height:400px;
padding:2px;
}

.btnAssetTracking
{
    margin-top:10px;
    background-color:#838686;
    width:150px;
    height:30px;
    text-decoration:none;
    color:#ffffff;
    border:5px;
}

.btnReport {
    margin-top:10px;
    background-color:#838686;
    width:150px;
    height:30px;
    text-decoration:none;
    color:#ffffff;
    border:5px;
}
.heading {
    font-size:1.2em;
    font-weight:bold;
}
.departments {
     font-size:1.2em;
    padding-left:50px;
    width:100%;
}
.departmentDDL {
   font:normal 90% arial, helvetica, verdana, sans-serif;
  border:0;
  /*background-color:#fafafa*/
  
}
select {
background-color:#fafafa;
font:normal 90% arial, helvetica, verdana, sans-serif;
}

.normalText {
  position:relative;
  left:4px;
  text-align:center;
  margin-bottom:10px;
  margin-top:20px;
}
