.battery {
    width: 200px;
    height: 200px;
    margin-left: 110px;
    float: left;
    text-align: right;
    line-height: 200px;
}

.chartTitleLeft {
    width: 100px;
    height: 100px;
    margin-top: -8px;
    margin-left: 20px;
    float: left;
    text-align: right;
    line-height: 200px;
}

    .chartTitleLeft img {
        max-width: 50%;
    }

.chartTitleRight {
    width: 80px;
    height: 105px;
    margin-top: -16px;
    float: right;
    text-align: left;
}

.graphBig {
    width: 200px;
    height: 200px;
    float: right;
    cursor: pointer;
}

.graphBig1 {
    width: 200px;
    height: 200px;
    float: right;
    cursor: pointer;
}

.graphBig2 {
    width: 200px;
    height: 200px;
    float: right;
    cursor: pointer;
}

.graph {
    width: 150px;
    height: 150px;
    /*margin: 0px auto 0 auto;*/
}

.graph1 {
    width: 150px;
    height: 150px;
    /*margin: 0px auto 0 auto;*/
}

.graph2 {
    width: 150px;
    height: 150px;
    /*margin: 0px auto 0 auto;*/
}

pre {
    height: 250px;
    overflow: auto;
    display: none;
}

text {
    display: none;
}

.legends {
    width: 100px;
    float: left;
    margin-top: -140px;
    margin-left: -80px;
    text-align: left;
    padding-left: 470px;
}

.legendsSmall {
    float: left;
    margin-top: -105px;
    margin-left: -3px;
    text-align: center;
    padding-left: 40px;
}

.legendLabels {
    width: 200px;
    text-align: left;
    font-size: 12px;
}

.legendTotals {
    width: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.bigDonut {
    width: 534px;
}

.legendLabelsSmall {
    width: 80px;
    text-align: center;
    font-size: 0.8em;
}

.hzrule {
    min-width: 300px;
    width: 365px;
    margin-top: -303px;
    margin-left: 0;
    background-image: url('/Images/hz.png');
    background-repeat: repeat-x;
    background-position: left;
    height: 10px;
    z-index: -1;
    text-align: left;
}

.hzruleR {
    min-width: 100px;
    width: 130px;
    margin-top: -106px;
    margin-left: 510px;
    background-image: url('/Images/hz.png');
    background-repeat: repeat-x;
    background-position: left;
    height: 10px;
    z-index: -1;
    text-align: left;
}

.vtrule {
    width: 150px;
    margin-top: 47px;
    margin-left: 688px;
    background-image: url('/Images/vt.png');
    background-repeat: repeat-y;
    height: 50px;
    text-align: left;
}

.vtrule2 {
    width: 150px;
    margin-top: 205px;
    margin-left: 688px;
    background-image: url('/Images/vt.png');
    background-repeat: repeat-y;
    height: 50px;
    text-align: left;
}

.infoIcon {
    width: 20px;
    height: 20px;
    margin-top: -65px;
    margin-left: 120px;
    float: left;
    text-align: right;
    cursor: pointer;
}

.infoIcon img {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}

.infoIconR {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0px;
    margin-top: -70px;
    margin-left: 150px;
    float: left;
    text-align: left;
    cursor: pointer;
    z-index: 10;
}
