/*Top Bar (login, search etc.)
------------------------------------*/
.topbar {
  z-index: 12;
  padding: 8px 0;
  position: relative;
}
.topbar ul.notificationbar {
  margin: 0;
}
.topbar ul.notificationbar > li {
  display: inline;
  list-style: none;
  position: relative;
  padding-bottom: 15px;
}
.topbar ul.notificationbar > li > a,
.topbar ul.notificationbar > li > a:hover {
  color: #7c8082;
  font-size: 11px;
}
.topbar ul.notificationbar li i.fa {
  color: #bbb;
}
/* Stop navbar from collapsing (override bootstrap defaults)
-------------------------------------*/
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav > li,
.navbar-nav {
  float: left !important;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.navbar-right {
  float: right!important;
}
/*Header Default
------------------------------------*/
.header {
  z-index: 99;
  position: relative;
  border-bottom: solid 2px #eee;
  background-color: #82acD4;
  /*background-color: #000000;*/
}
.header .container-fluid {
  padding: 0 40px;
}
.header .navbar {
  margin: 0;
  min-height: inherit;
}
.header .navbar-default {
  border: none;
  background: none;
}
.header .navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 26px;
  padding: 15px 8px;
}
.header .navbar-default .navbar-nav > li > a:hover {
  color: #34b3b3;
}
.header .navbar-default .navbar-nav > .active > a {
  background: none;
}
.header .navbar-collapse {
  position: relative;
  padding-right: 0;
  min-width:1024px;
}
.header .navbar-brand {
  z-index: 1;
  top: 10px;
  position: relative;
  padding: 0 10px 10px;
}
.no-underline:hover {
  text-decoration: none;
}
/* Badge Notifications
*------------------------------------*/
.badge-notification {
  position: relative;
  left: -13px;
  top: -15px;
  background-color: red;
  padding: 3px 5px;
  margin-right: -25px;
}
/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 58px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.k-state-focused
{
    background: #eeeeee !important;
    border-color: #82acD4 !important;
}

.k-state-selected
{
    background: #82acD4 !important;
}

.report-icon{
    width:16px; 
    height:16px;
    display:inline; 
    position:relative; 
    top:-5px;
    left:-4px;
    cursor: pointer;
}