﻿body
{
    font-family: 'ucida grande', Tahoma, Verdana, 'Arabic Typesetting',sans-serif;
   
}



.radio2
{
    position:fixed;
    left: 80px;
}

.idnborder
{
    position:relative;
    top: -2px;
    left: 0px;
}

.idn
{
    position:relative;
    top: -30px;
    left: 71px;
    width: 100%;
}

.graph
{
    position:relative;
    top: -49px;
    left: 225px;
    height: 362px;
    width: 444px;
}

.facilitypanellabel
{
    position:relative;
    top: -30px; 
    left: 4px; 
    width: 116px; 
    height: 74px;
}

.facilitypanel
{
    position:relative;
    top: -104px;
    left: 124px;
    width: 100%;
    height: 74px;
}

.checklistfacility
{
    position:relative;
    top: 0px;
    left: 41px;
    width: 71px;
    height: 50px;
}

.checklist1
{
    position:relative;
    top: 0px;
    left: 0px;
    width: 257px;
}

.checklist2
{
    position:relative;
    top: -23px;
    left: 264px;
    width: 257px;
}

.newuserleft
{
    position:relative;
    top: 3px;
    left: 2px;
    height: 174px;
    width: 23%;
}

.notificationpanel
{
    position:fixed;
    top: 0px;
    left:80%;
    width: 334px;
}
.controls
{
	border-spacing:0px;
	border-collapse:collapse;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top:0px;
	padding-bottom:0px;
	width: 100%;
	vertical-align:middle;
}

.div-hospital {
  position: relative;
  left:0px;
  top: 85px; 
  width: 1248px;
  height: 1035px;
  color: #000000;
  background: url('images/floor2.png') no-repeat;
    }

.asset {
  position: absolute;
  overflow: hidden;
}


#wrapper
{
    width:110%;
    height: 71px;
}

#banner
{
    height: 67px;
    background-color: #89dddd
}