﻿ /********************* 
   
 Deborah Cunningham 
    Date: 3/5/2013

    File used in:
trendingequipment.aspx
trendingutilization.aspx
devicetransmissionsearch.aspx
******************************/ 

      /*  #progressBackgroundFilter
        {
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            overflow: hidden;
            padding: 0;
            margin: 0;
            background-color: #000;
            filter: alpha(opacity=50);
            opacity: 0.7;
            z-index: 1000;
        }
        
        #processMessage
        {
            text-align: center;
            position: fixed;
            top: 30%;
            left: 43%;
            padding: 10px;
            width: 14%;
            z-index: 1001;
            background-color: #000;
            border: solid 1px #c0c0c0;
        }*/
        
          .uiBack
        {
            background-color: #FFFFFF;   
            width: 800px;
            margin-top: 80px;
            border-radius: 12px;
            padding-bottom: 15px;
            margin-bottom: 35px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 33px;
            min-height: 310px;
            position: relative;
        }
        
        .uiBackShort
        {
            background-color: #FFFFFF;    
            width: 800px;
            margin:auto;
            border-radius: 12px;        
            padding: 33px 11px 0 11px;
            min-height: 211px;
            position: relative;
        }
        
         .Text
        {
          font-family:Arial, Helvetica, Sans-Serif;
          font-size:12px;          
          color: Gray;     
          padding-right:3px;     
        }

.dateAndTime
{
    width:100px;
}

        .width100, .width100 table
        {
            width: 100px !important;
        }
